<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <application
    android:allowBackup="false"
    android:icon="@mipmap/ic_background"
    android:label="@string/app_name"
    android:name=".GravityApp"
    android:roundIcon="@mipmap/ic_background_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,DataExtractionRules">
    <activity
      android:exported="false"
      android:name=".controller.ScoresActivity"
      android:parentActivityName=".controller.MainActivity"/>
<!--    <activity-->
<!--      android:exported="false"-->
<!--      android:name=".activity_hight_scores"/>-->
    <activity
      android:exported="false"
      android:screenOrientation="landscape"
      android:parentActivityName=".controller.MainActivity"
      android:name=".controller.GameActivity"/>
    <activity
      android:exported="true"
      android:name=".controller.LoginActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:launchMode="singleTop"
      android:name=".controller.MainActivity"
      android:screenOrientation="portrait"
      tools:ignore="LockedOrientationActivity"/>
    <activity
      android:label="@string/settings_label"
      android:name=".controller.SettingsActivity"
      android:parentActivityName=".controller.MainActivity"/>
  </application>

  <uses-permission android:name="android.permission.INTERNET"/>

</manifest>